.Area-description div {
    width: 697px;
    height: 89px;
    text-align: center;
    font-size: 24px;
    padding-top: 48px;
    border: 1px dashed tomato;
}

.Area-description img {
    width: 697px;
    height: 137px;
}