.Area-result-form {
    display: flex;
    align-self: flex-end;
}

.Area-result-form label {
    font-weight: bold;
}

.Area-result-form input {
    font-size: 18px;
    line-height: 32px;
    padding: 0 12px;
    margin-left: 12px;
    background: palegoldenrod;
}

.Area-result-form .Button-wrapper {
    position: relative;
    width: 160px;
    margin-left: 24px;
}

.Area-result-form button {
    position: relative;
    background: tomato;
    color: #222;
    font-size: 24px;
    border: none;
    outline: none;
    box-shadow: 7px 7px #222;
    padding: 5px 0px;
    width: 100%;
}

.Area-result-form button:hover {
    outline-offset: -2px;
    outline: solid 2px #222;
}

.Area-result-form button:focus {
    outline-offset: -2px;
    outline: solid 2px #222;
}

.Area-result-form .Button-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 6px;
    height: 18px;
    border: solid #fff;
    border-width: 6px 3px 0px 0px;
    pointer-events: none;
}

.Area-result-form button:active {
    transform: scale(0.95, 0.95);
    box-shadow: none;
}

.Area-result-form button:active+.Button-icon {
    transform: scale(0.95, .095);
    right: 10px;
}